<!-- Slider Start -->
<div class="container">


<section id="slider" class="p-0 m-0 text-center homeslider">


  <div class="row text-center d-block d-lg-none">

    <div class="col-12  text-center">
      <img src="img/ad.gif" class="img-fluid homead"/>
    </div>
  </div>
  <div class="row p-0 m-0 testhan text-center ">
    <div class="col-12 p-0 m-0 video text-center d-none d-lg-block">


      <video poster="/img/screen.png" id="bgvid" class="embed-responsive" playsinline autoplay muted loop>

        <!--
        - Video needs to be muted, since Chrome 66+ will not autoplay video with sound.
        WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <source src="img/dasdeutshe.webm" type="video/webm">
          <source src="img/dasdeutshe.mp4" type="video/mp4">


          </div>

        </div>

        <!-- <button type="button" class="btn btn-success next-section"><i class="fa fa-arrow-circle-down"></i> </button> -->

      </section>


      </div>
